
WeatherControl/.vs/

WeatherControl/Wissance.WeatherControl/bin/

WeatherControl/Wissance.WeatherControl/obj/

WeatherControl/Wissance.WeatherControl.Data/bin/

WeatherControl/Wissance.WeatherControl.Data/obj/

WeatherControl/Wissance.WeatherControl.Dto/obj/
